/************************************************************************************************************
Project: Function Revolution
Description: This is the style sheet of our web-based application 
History: Michael Zhang & Chris Lin, May 21, 2019
************************************************************************************************************/
body{
  background-color: #ffcf79; /*set background color*/
  font-family: Helvetica; /*set font type*/
  margin-left: auto; /*align the block in the middle by setting left right margin to auto*/
  margin-right: auto;
  position: relative; /*set type of positioning*/
  width: 1300px; /*set width of the block*/
}

h1{
  font-size: 250%; /*set font size*/
  font-weight: bold; /*set style of font*/
  color: #2980B9; /*set font colour*/
  text-decoration: underline; /*add underline to the text*/
  text-align: center; /*align text in the center*/
}

h2{
  margin: 0px; /*no margin around*/
  font-size: 25px; /*set font size*/
  padding: 10px; /*set padding*/
  text-align: left; /*align text to the left*/
  border-bottom-color: black; /*set colour of border line*/ 
  border-bottom-width: 2px; /*set width of border line*/
  border-bottom-style: solid; /*set style of border line*/
  background-color: #5DADE2; /*set background color*/
}

p.intro{
  font-style: italic; /*set style of font*/
  font-size: 25px; /*set font size*/
  text-align: center; /*align text in the center*/
  color: #3498DB; /*set font colour*/
}

p.paragraph{
  margin-top: 10px; /*set top margin*/
  margin-bottom: 5px; /*set bottom margin*/
}

#title{
  position: absolute; /*set type of positioning*/
  left: 240px; /*set how far right from first the non-static element*/
}

#divWindow{
  font-size: 25px; /*set font size*/
  padding: 10px; /*set padding*/
  border-color: black; /*set colour of border line*/
  border-width: 2px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  margin: 20px; /*set margin around the element*/
  background-color: #D6DBDF; /*set background color*/
  width: 490px; /*set width of the block*/
  position: absolute; /*set type of positioning*/
  top: 120px; /*set how far below from first the non-static element*/
  left: 375px; /*set how far right from first the non-static element*/
}

.divColour{
  font-size: 25px; /*set font size*/
  text-align: center; /*align text in the center*/
  border-color: black; /*set colour of border line*/
  border-width: 2px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  background-color: #D6DBDF; /*set background color*/
  margin: 20px; /*set margin around the element*/
  position: absolute; /*set type of positioning*/
  top: 400px; /*set how far below from first the non-static element*/
  right: 0px; /*set how far left from first the non-static element*/
  width: 300px; /*set width of the block*/
}

.divFunction{
  line-height: 140%; /*set line spacing*/
  font-size: 25px; /*set font size*/
  text-align: center; /*align text in the center*/
  border-color: black; /*set colour of border line*/
  border-width: 2px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  background-color: #D6DBDF; /*set background color*/
  margin: 20px; /*set margin around the element*/
  position: absolute; /*set type of positioning*/
  top: 860px; /*set how far below from first the non-static element*/
  left: 15px; /*set how far right from first the non-static element*/
  width: 380px; /*set width of the block*/
}

.divRevolve{
  line-height: 140%; /*set line spacing*/
  font-size: 25px; /*set font size*/
  text-align: center; /*align text in the center*/
  border-color: black; /*set colour of border line*/
  border-width: 2px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  background-color: #D6DBDF; /*set background color*/
  margin: 20px; /*set margin around the element*/
  position: absolute; /*set type of positioning*/
  top: 860px; /*set how far below from first the non-static element*/
  left: 430px; /*set how far right from first the non-static element*/
  width: 380px; /*set width of the block*/
}

.divStatistics{
  font-size: 25px; /*set font size*/
  text-align: center; /*align text in the center*/
  border-color: black; /*set colour of border line*/
  border-width: 2px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  background-color: #D6DBDF; /*set background color*/
  margin: 20px; /*set margin around the element*/
  position: absolute; /*set type of positioning*/
  top: 860px; /*set how far below from first the non-static element*/
  left: 845px; /*set how far right from first the non-static element*/
  width: 400px; /*set width of the block*/
}

.button{
  font-size: 15px; /*set font size*/
  font-weight: bold; /*set style of font*/
  border-radius: 5px; /*set radius for the circular corner of the rectangle button*/
  text-align: center; /*align text in the center*/
  width: 120px; /*set width of the button*/
  height: 40px; /*set height of the button*/
  color: #666; /*set font colour*/
  border-color: #99A3A4; /*set colour of border line*/
  background-color: #E7E7E7; /*set background color*/
  border-width: 1px; /*set width of border line*/
  border-style: solid; /*set style of border line*/
  margin-top: 10px; /*set top margin*/
  margin-bottom: 10px; /*set bottom margin*/
  box-sizing: border-box;
}

#resetView:hover{
  color: #000; /*set font colour*/
  border-color: black; /*set colour of border line*/
}

#setWindow:hover{
  color: #000; /*set font colour*/
  border-color: black; /*set colour of border line*/
}

#setFunction:hover{
  color: #000; /*set font colour*/
  border-color: black; /*set colour of border line*/
}

#revolve:hover{
  color: #000; /*set font colour*/
  border-color: black; /*set colour of border line*/
}

#clearGraph:hover{
  color: #000; /*set font colour*/
  border-color: black; /*set colour of border line*/
}

select{
  font-size: 20px; /*set font size*/
  text-align: center; /*align text in the center*/
  height: 30px; /*set height of the select input*/
  margin: 10px; /*set margin around the element*/
}
    
select:focus {
  min-width: 150px;
  width: auto; /*default width*/
}


.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 40%; /* Full-width */
  height: 7px; /* Specified height */
  background: #2E4053; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 15px; /* Slider handle height */
  background: #F4D03F; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}